Kotiln/SampleAppStudy/ImageExtract/.idea/.gitignore
Kotiln/SampleAppStudy/ImageExtract/.idea/compiler.xml
Kotiln/SampleAppStudy/ImageExtract/.idea/deploymentTargetDropDown.xml
Kotiln/SampleAppStudy/ImageExtract/.idea/gradle.xml
Kotiln/SampleAppStudy/ImageExtract/.idea/kotlinc.xml
Kotiln/SampleAppStudy/ImageExtract/.idea/migrations.xml
Kotiln/SampleAppStudy/ImageExtract/.idea/misc.xml
Kotiln/SampleAppStudy/ImageExtract/.idea/vcs.xml
